@import url("./misc/normalize.css");




/* Estilos Main */


/* Estilos Section */

/* summary {
    list-style: ;

} */

.acordeon-title {
    background-color: var(--pink-solid);
    cursor: pointer;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 10px;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-subtitle {
    color: var(--blue-solid);

}

.section-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 15px;
}

.section-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.section-list, .section-sublist {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-sublist {
    margin-top: 10px;
}

.section-list-item {
    list-style: inside;
    margin-left: 30px;
}

.section-sublist-item {
    list-style: circle;
    margin-left: 30px;
}


.section-links {
    display: flex;
    gap: 20px;
}

.section-link {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--pink-solid);
    padding: 15px;
    border-radius: 100px;
}

.section-link:hover {
    transform: scale(1.2);
    transition: all .22s ease-in-out;
}

.section-link-icon {
    font-size: 30px;
}




.section-item-images{
    display: flex;
    align-items: center;
}

.section-item-images-cover {
    max-width: 300px;
    /* height: 200px; */
}




/* Acordeon */

