<!-- Inicio Footer -->
<footer>
    <ul class="social-icons">
        <li><a href="https://www.linkedin.com/in/juan-de-los-r%C3%ADos-a5aa10285/" target="_blank" id="linkedin" class="social-icon">
            <img src="./images/LinkedIn.jpg" alt="LinkedIn">
            </a>
        </li>
        <li><a href="https://github.com/juandelosrios732" target="_blank" id="github" class="social-icon">
            <img src="./images/github.jpg" alt="Github">
            </a>
        </li>
        <li><a href="https://www.instagram.com/" target="_blank" id="instagram" class="social-icon">
            <img src="./images/Icono de Instagram.jpg" alt="Instagram">
            </a>
        </li>
        <li><a href="https://twitter.com/?lang=es" target="_blank" id="twitter" class="social-icon">
            <img src="./images/twitter.jpg" alt="Twitter">
            </a>
        </li>
    </ul>
</footer>
<!-- Fin Footer -->
</body>
</html>