<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Portafolio Juan Guillermo</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    
</head>

<body>

    <header>
        <!-- Div es etiqueta de contenido general -->
        <div class="image-container" id="logo">
            <img src="./images/logo.png" alt="logo">
        </div>
        <div class="navbar-container">
            <nav class="navbar">
                <h2 class="navbar-item"><a href="">PROYECTOS</a></h2>
                <h2 class="navbar-item"><a href="">ACERCA DE</a></h2>
                <h2 class="navbar-item"><a href="">CONTACTO</a></h2>
                
            </nav>
        </div>
    </header>