@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');


/* Colores */


:root{
    --blue-solid: #1a94dd;
    --pink-solid: #ca3568;
    --yellow-solid: #f3e93f;
    --orange-solid: #de3c1d;
    --lila-solid: #a94ab7;
    --withe-solid: #fff;
    --bg-solid: #000000;
}


/* Normalización */


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-family: 'Jura', sans-serif;
    background: var(--bg-solid);
    color: var(--withe-solid);
}

a {
    text-decoration: none;
    color: var(--withe-solid);
}

img {
    width: 100%;
}

.image-container {
    display: flex;
}

.image-container img {
    /* width mide el porcentaje de su contenedor padre */
    width: 100%;
}

/* Estilos generales */

.container {
    margin: auto 100px;
}


/* Estilos del Header*/

header{
    background: var(--bg-solid);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    
}

#logo {
    max-width: 300px;
}



/* Estilos barra de navegación */

.navbar-container {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 30px;
}

.navbar-item :hover{
    color: var(--pink-solid);
}


/* Estilos del Footer */

footer {
    padding: 100px;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 60px;
}


.footer-icon {
    font-size: 120px;
}

.social-icon :hover {
    color: var(--pink-solid);
}


